
CommonTasksLib/bin/Release/System.Web.WebPages.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Razor.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Razor.dll
CommonTasksLib/bin/Release/System.Web.WebPages.dll
CommonTasksLib/bin/Release/System.Web.WebPages.Deployment.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Deployment.dll
CommonTasksLib/bin/Release/System.Web.Razor.xml
CommonTasksLib/bin/Release/System.Web.Razor.dll
CommonTasksLib/bin/Release/System.Web.Mvc.xml
CommonTasksLib/bin/Release/System.Web.Mvc.dll
CommonTasksLib/bin/Release/System.Web.Helpers.xml
CommonTasksLib/bin/Release/System.Web.Helpers.dll
CommonTasksLib/bin/Release/Microsoft.Web.Infrastructure.dll
CommonTasksLib/bin/Release/CommonTasks.HelperLib.pdb
CommonTasksLib/bin/Release/CommonTasks.HelperLib.dll
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide-wal
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide-shm
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide
.vs/CommonTasksLib/v16/Server/sqlite3/db.lock
.vs/CommonTasksLib/v16/.suo
CommonTasksLib/obj/Release/CommonTasks.HelperLib.dll
CommonTasksLib/obj/Release/CommonTasks.HelperLib.pdb
CommonTasksLib/obj/Release/CommonTasksLib.csproj.CopyComplete
CommonTasksLib/obj/Release/CommonTasksLib.csproj.CoreCompileInputs.cache
CommonTasksLib/obj/Release/CommonTasksLib.csproj.FileListAbsolute.txt
CommonTasksLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LibTests/bin/Release/CommonTasks.HelperLib.dll
LibTests/bin/Release/CommonTasks.HelperLib.pdb
LibTests/bin/Release/LibTests.dll
LibTests/bin/Release/LibTests.dll.config
LibTests/bin/Release/LibTests.pdb
LibTests/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
LibTests/bin/Release/Microsoft.Web.Infrastructure.dll
LibTests/bin/Release/Oracle.ManagedDataAccess.dll
LibTests/bin/Release/System.Web.Mvc.dll
LibTests/bin/Release/System.Web.Mvc.xml
LibTests/bin/Release/System.Web.Razor.dll
LibTests/bin/Release/System.Web.Razor.xml
LibTests/bin/Release/System.Web.WebPages.Deployment.dll
LibTests/bin/Release/System.Web.WebPages.Deployment.xml
LibTests/bin/Release/System.Web.WebPages.dll
LibTests/bin/Release/System.Web.WebPages.Razor.dll
LibTests/bin/Release/System.Web.WebPages.Razor.xml
LibTests/bin/Release/System.Web.WebPages.xml
packages/Microsoft.AspNet.Mvc.5.2.7/.signature.p7s
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.2.7/Microsoft.AspNet.Mvc.5.2.7.nupkg
packages/Microsoft.AspNet.Razor.3.2.7/.signature.p7s
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.2.7/Microsoft.AspNet.Razor.3.2.7.nupkg
packages/Microsoft.AspNet.WebPages.3.2.7/.signature.p7s
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.2.7/Microsoft.AspNet.WebPages.3.2.7.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Oracle.ManagedDataAccess.19.3.1/.signature.p7s
packages/Oracle.ManagedDataAccess.19.3.1/bin/x64/Oracle.ManagedDataAccessIOP.dll
packages/Oracle.ManagedDataAccess.19.3.1/bin/x86/Oracle.ManagedDataAccessIOP.dll
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.install.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.transform
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.uninstall.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.install.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.transform
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.uninstall.xdt
packages/Oracle.ManagedDataAccess.19.3.1/info.txt
packages/Oracle.ManagedDataAccess.19.3.1/lib/net40/Oracle.ManagedDataAccess.dll
packages/Oracle.ManagedDataAccess.19.3.1/Oracle.ManagedDataAccess.19.3.1.nupkg
packages/Oracle.ManagedDataAccess.19.3.1/PerfCounters/register_odpm_perfmon_counters.ps1
packages/Oracle.ManagedDataAccess.19.3.1/PerfCounters/unregister_odpm_perfmon_counters.ps1
packages/Oracle.ManagedDataAccess.19.3.1/readme.txt
LibTests/obj/Release/LibTests.dll
LibTests/obj/Release/LibTests.csprojAssemblyReference.cache
LibTests/obj/Release/LibTests.csproj.FileListAbsolute.txt
LibTests/obj/Release/LibTests.csproj.CoreCompileInputs.cache
LibTests/obj/Release/LibTests.csproj.CopyComplete
LibTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LibTests/obj/Release/LibTests.pdb
LibTests/bin/Release/LibTests.pdb
LibTests/bin/Release/LibTests.dll
LibTests/bin/Release/CommonTasks.HelperLib.pdb
LibTests/bin/Release/CommonTasks.HelperLib.dll
