
CommonTasksLib/bin/Release/System.Web.WebPages.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Razor.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Razor.dll
CommonTasksLib/bin/Release/System.Web.WebPages.dll
CommonTasksLib/bin/Release/System.Web.WebPages.Deployment.xml
CommonTasksLib/bin/Release/System.Web.WebPages.Deployment.dll
CommonTasksLib/bin/Release/System.Web.Razor.xml
CommonTasksLib/bin/Release/System.Web.Razor.dll
CommonTasksLib/bin/Release/System.Web.Mvc.xml
CommonTasksLib/bin/Release/System.Web.Mvc.dll
CommonTasksLib/bin/Release/System.Web.Helpers.xml
CommonTasksLib/bin/Release/System.Web.Helpers.dll
CommonTasksLib/bin/Release/Microsoft.Web.Infrastructure.dll
CommonTasksLib/bin/Release/CommonTasks.HelperLib.pdb
CommonTasksLib/bin/Release/CommonTasks.HelperLib.dll
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide-wal
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide-shm
.vs/CommonTasksLib/v16/Server/sqlite3/storage.ide
.vs/CommonTasksLib/v16/Server/sqlite3/db.lock
.vs/CommonTasksLib/v16/.suo
CommonTasksLib/obj/Release/CommonTasks.HelperLib.dll
CommonTasksLib/obj/Release/CommonTasks.HelperLib.pdb
CommonTasksLib/obj/Release/CommonTasksLib.csproj.CopyComplete
CommonTasksLib/obj/Release/CommonTasksLib.csproj.CoreCompileInputs.cache
CommonTasksLib/obj/Release/CommonTasksLib.csproj.FileListAbsolute.txt
CommonTasksLib/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LibTests/bin/Release/CommonTasks.HelperLib.dll
LibTests/bin/Release/CommonTasks.HelperLib.pdb
LibTests/bin/Release/LibTests.dll
LibTests/bin/Release/LibTests.dll.config
LibTests/bin/Release/LibTests.pdb
LibTests/bin/Release/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
LibTests/bin/Release/Microsoft.Web.Infrastructure.dll
LibTests/bin/Release/Oracle.ManagedDataAccess.dll
LibTests/bin/Release/System.Web.Mvc.dll
LibTests/bin/Release/System.Web.Mvc.xml
LibTests/bin/Release/System.Web.Razor.dll
LibTests/bin/Release/System.Web.Razor.xml
LibTests/bin/Release/System.Web.WebPages.Deployment.dll
LibTests/bin/Release/System.Web.WebPages.Deployment.xml
LibTests/bin/Release/System.Web.WebPages.dll
LibTests/bin/Release/System.Web.WebPages.Razor.dll
LibTests/bin/Release/System.Web.WebPages.Razor.xml
LibTests/bin/Release/System.Web.WebPages.xml
packages/Microsoft.AspNet.Mvc.5.2.7/.signature.p7s
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.7/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.2.7/Microsoft.AspNet.Mvc.5.2.7.nupkg
packages/Microsoft.AspNet.Razor.3.2.7/.signature.p7s
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.7/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.2.7/Microsoft.AspNet.Razor.3.2.7.nupkg
packages/Microsoft.AspNet.WebPages.3.2.7/.signature.p7s
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.2.7/Microsoft.AspNet.WebPages.3.2.7.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Oracle.ManagedDataAccess.19.3.1/.signature.p7s
packages/Oracle.ManagedDataAccess.19.3.1/bin/x64/Oracle.ManagedDataAccessIOP.dll
packages/Oracle.ManagedDataAccess.19.3.1/bin/x86/Oracle.ManagedDataAccessIOP.dll
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.install.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.transform
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/App.config.uninstall.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.install.xdt
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.transform
packages/Oracle.ManagedDataAccess.19.3.1/content/net40/Web.config.uninstall.xdt
packages/Oracle.ManagedDataAccess.19.3.1/info.txt
packages/Oracle.ManagedDataAccess.19.3.1/lib/net40/Oracle.ManagedDataAccess.dll
packages/Oracle.ManagedDataAccess.19.3.1/Oracle.ManagedDataAccess.19.3.1.nupkg
packages/Oracle.ManagedDataAccess.19.3.1/PerfCounters/register_odpm_perfmon_counters.ps1
packages/Oracle.ManagedDataAccess.19.3.1/PerfCounters/unregister_odpm_perfmon_counters.ps1
packages/Oracle.ManagedDataAccess.19.3.1/readme.txt
LibTests/obj/Release/LibTests.dll
LibTests/obj/Release/LibTests.csprojAssemblyReference.cache
LibTests/obj/Release/LibTests.csproj.FileListAbsolute.txt
LibTests/obj/Release/LibTests.csproj.CoreCompileInputs.cache
LibTests/obj/Release/LibTests.csproj.CopyComplete
LibTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LibTests/obj/Release/LibTests.pdb
LibTests/bin/Release/LibTests.pdb
LibTests/bin/Release/LibTests.dll
LibTests/bin/Release/CommonTasks.HelperLib.pdb
LibTests/bin/Release/CommonTasks.HelperLib.dll
CommonTasks/bin/Debug/netcoreapp2.2/CommonTasks.pdb
CommonTasks/bin/Debug/netcoreapp2.2/CommonTasks.dll
CommonTasks/bin/Debug/netcoreapp2.2/CommonTasks.deps.json
CommonTasks/obj/CommonTasks.csproj.nuget.cache
CommonTasks/obj/CommonTasks.csproj.nuget.dgspec.json
CommonTasks/obj/CommonTasks.csproj.nuget.g.props
CommonTasks/obj/CommonTasks.csproj.nuget.g.targets
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.AssemblyInfo.cs
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.AssemblyInfoInputs.cache
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.assets.cache
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.csproj.CoreCompileInputs.cache
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.csproj.FileListAbsolute.txt
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.csprojAssemblyReference.cache
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.dll
CommonTasks/obj/Debug/netcoreapp2.2/CommonTasks.pdb
CommonTasks/obj/project.assets.json
CommonTasksLib/bin/Debug/CommonTasks.HelperLib.dll
CommonTasksLib/bin/Debug/CommonTasks.HelperLib.pdb
CommonTasksLib/bin/Debug/Microsoft.Web.Infrastructure.dll
CommonTasksLib/bin/Debug/System.Web.Helpers.dll
CommonTasksLib/bin/Debug/System.Web.Helpers.xml
CommonTasksLib/bin/Debug/System.Web.Mvc.dll
CommonTasksLib/bin/Debug/System.Web.Mvc.xml
CommonTasksLib/bin/Debug/System.Web.Razor.dll
CommonTasksLib/bin/Debug/System.Web.Razor.xml
CommonTasksLib/bin/Debug/System.Web.WebPages.Deployment.dll
CommonTasksLib/bin/Debug/System.Web.WebPages.Deployment.xml
CommonTasksLib/bin/Debug/System.Web.WebPages.dll
CommonTasksLib/bin/Debug/System.Web.WebPages.Razor.dll
CommonTasksLib/bin/Debug/System.Web.WebPages.Razor.xml
CommonTasksLib/bin/Debug/System.Web.WebPages.xml
CommonTasksLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CommonTasksLib/obj/Debug/CommonTasksLib.csprojAssemblyReference.cache
CommonTasksLib/obj/Debug/CommonTasksLib.csproj.FileListAbsolute.txt
CommonTasksLib/obj/Debug/CommonTasksLib.csproj.CoreCompileInputs.cache
CommonTasksLib/obj/Debug/CommonTasksLib.csproj.CopyComplete
CommonTasksLib/obj/Debug/CommonTasks.HelperLib.pdb
CommonTasksLib/obj/Debug/CommonTasks.HelperLib.dll
LibTests/bin/Debug/CommonTasks.HelperLib.dll
LibTests/bin/Debug/CommonTasks.HelperLib.pdb
LibTests/bin/Debug/LibTests.dll
LibTests/bin/Debug/LibTests.dll.config
LibTests/bin/Debug/LibTests.pdb
LibTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
LibTests/bin/Debug/Microsoft.Web.Infrastructure.dll
LibTests/bin/Debug/Oracle.ManagedDataAccess.dll
LibTests/bin/Debug/System.Web.Mvc.dll
LibTests/bin/Debug/System.Web.Mvc.xml
LibTests/bin/Debug/System.Web.Razor.dll
LibTests/bin/Debug/System.Web.Razor.xml
LibTests/bin/Debug/System.Web.WebPages.Deployment.dll
LibTests/bin/Debug/System.Web.WebPages.Deployment.xml
LibTests/bin/Debug/System.Web.WebPages.dll
LibTests/bin/Debug/System.Web.WebPages.Razor.dll
LibTests/bin/Debug/System.Web.WebPages.Razor.xml
LibTests/bin/Debug/System.Web.WebPages.xml
LibTests/obj/Debug/LibTests.csproj.CopyComplete
LibTests/obj/Debug/LibTests.csproj.CoreCompileInputs.cache
LibTests/obj/Debug/LibTests.csproj.FileListAbsolute.txt
LibTests/obj/Debug/LibTests.csprojAssemblyReference.cache
LibTests/obj/Debug/LibTests.dll
LibTests/obj/Debug/LibTests.pdb
NetCoreTest.Web/bin/Debug/netcoreapp2.2/CommonTasks.dll
NetCoreTest.Web/bin/Debug/netcoreapp2.2/CommonTasks.pdb
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.deps.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.dll
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.pdb
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.runtimeconfig.dev.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.runtimeconfig.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.Views.dll
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web.Views.pdb
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.deps.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.dll
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.pdb
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.runtimeconfig.dev.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.runtimeconfig.json
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.Views.dll
NetCoreTest.Web/bin/Debug/netcoreapp2.2/NetCoreTest.Web2.Views.pdb
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.AssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.AssemblyInfoInputs.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.assets.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.csproj.CopyComplete
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.csproj.CoreCompileInputs.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.csproj.FileListAbsolute.txt
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.csprojAssemblyReference.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.dll
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.pdb
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.RazorAssemblyInfo.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.RazorAssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.RazorCoreGenerate.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.RazorTargetAssemblyInfo.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.RazorTargetAssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.TagHelpers.input.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.TagHelpers.output.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.Views.dll
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web.Views.pdb
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.AssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.AssemblyInfoInputs.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.assets.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.csproj.CopyComplete
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.csproj.CoreCompileInputs.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.csproj.FileListAbsolute.txt
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.csprojAssemblyReference.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.dll
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.pdb
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.RazorAssemblyInfo.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.RazorAssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.RazorCoreGenerate.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.RazorTargetAssemblyInfo.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.RazorTargetAssemblyInfo.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.TagHelpers.input.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.TagHelpers.output.cache
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.Views.dll
NetCoreTest.Web/obj/Debug/netcoreapp2.2/NetCoreTest.Web2.Views.pdb
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
NetCoreTest.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
NetCoreTest.Web/obj/NetCoreTest.Web.csproj.nuget.cache
NetCoreTest.Web/obj/NetCoreTest.Web.csproj.nuget.dgspec.json
NetCoreTest.Web/obj/NetCoreTest.Web.csproj.nuget.g.props
NetCoreTest.Web/obj/NetCoreTest.Web.csproj.nuget.g.targets
NetCoreTest.Web/obj/NetCoreTest.Web2.csproj.nuget.cache
NetCoreTest.Web/obj/NetCoreTest.Web2.csproj.nuget.dgspec.json
NetCoreTest.Web/obj/NetCoreTest.Web2.csproj.nuget.g.props
NetCoreTest.Web/obj/NetCoreTest.Web2.csproj.nuget.g.targets
NetCoreTest.Web/obj/project.assets.json
NetCoreTest.Web/wwwroot/lib/bootstrap/LICENSE
NetCoreTest.Web/wwwroot/lib/jquery-validation/LICENSE.md
NetCoreTest.Web/wwwroot/lib/jquery/LICENSE.txt
